html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    --main-font-family: normal, Raleway, Lato, sans-serif;
    --primary-color: #43ABF0;
}

html {
    font-size: 16px;
  }

.color-primary {
	color: var(--primary-color);
}

.main {
	display: flex;
	background-color: #000000;
}

.container {
	width: 100%;
}

.main-img {
	display: flex;
	object-fit: contain;
	width: 100%;
}

.header{
	position: sticky;
	top: 0;
	left: 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: 100px;
	width: 100%;
	background: #10101D;
	opacity: 0.9;
}

.header-logo {
	display: flex;
	justify-content: center;
    align-items: center;
}

.logo {
	text-transform: uppercase;
	color: #FFFFFF;
	font-family: var(--main-font-family);
}

.logo-net {
	text-transform: uppercase;
	color: var(--primary-color);
	font-family: var(--main-font-family);
}

.menu {
	display: flex;
	justify-content: center;
    align-items: center;
}

.list-item {
	display: inline-block;
	font-family: var(--main-font-family);
	padding: 0 10px;
}

.list-item_link {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 0.8rem;
	font-weight: 600;
}

.list-item_link:hover {
	color: var(--primary-color);
}

.main-content {
	background-image: url('images/main.png');
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	padding: 15% 0 15% 15%;
}

.container-header {
	text-transform: uppercase;
	font-family: var(--main-font-family);
	font-size: 3rem;
	font-weight: 700;
	width: 60%;
}

.list-head {
	font-family: var(--main-font-family);
}

.main-list {
	font-family: var(--main-font-family);
	font-weight: 400;
	font-size: 1.25rem;
	margin: 5% 0;
}

.main-list ul li {
	list-style-type:"– ";
}

.main-btn {
	margin-bottom: 5%;
	display: grid;
    grid-template-columns: repeat(2, 200px);
}

.btn {
	font-family: var(--main-font-family);
	color: #2A2B30;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.8rem;
	border: 1px solid #6F6D7B;
	border-radius: 4px;
	padding: 10px 15px 10px 15px;
	margin-right: 10px;
}

.btn:hover {
	background-color: var(--primary-color);
	border: 1px solid white;
	color: white;
}

.booking {
	display: flex;
	justify-content: center;
    flex-direction: column;
    align-items: center;
	background-color: #272733;
	background-image: url(images/map.png);
	padding: 3% 0;
	background-size: cover;
    background-repeat: no-repeat;
}

.booking-header {
	font-family: var(--main-font-family);
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight: 800;
	font-size: 2.25rem;
}

.booking-note {
	color: #BBBBBB;
	font-family: var(--main-font-family);
	font-size: 1.125rem;
	font-weight: 400;
	padding: 5% 0;
}

.scheme {
	margin: 5% 0;
	display: flex;
    justify-content: space-evenly;
	flex-wrap: wrap;
}

.icon-content {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 6.25rem;
    height: 6.25rem;
	background-color: var(--primary-color);
	border: 5px solid #286690;
	border-radius: 50%;
}

.icon-container {
	display: flex;
    align-items: center;
    width: 15%;
}

.scheme-item {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scheme-description {
	color: white;
	font-family: var(--main-font-family);
	font-size: 1rem;
	font-weight: 400;
	margin-top: 2rem;
	text-align: center;
}

.fa-solid {
	color: #FFFFFF;
	font-size: 2em;
}

.fa-regular {
	color: #FFFFFF;
	font-size: 2em;
}

.main-form {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(3, 1fr);
}

.input {
	border-radius: 3px;
	font-size: 1.125rem;
	border: none;
	padding: 10px;
}

.submit-btn {
	display: flex;
	justify-content: center;
}

.slider-label {
	font-family: var(--main-font-family);
	color: white;
	font-size: 1.125rem;
	grid-column: span 2;
}

.slider {
	opacity: 0.7;
	width: 100%;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.file-input {

}

.footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
    align-items: center;
	height: 5rem;
	width: 100%;
	background-color: #3D4050;
	font-family: var(--main-font-family);
	color: #C3C3C3;
}

.footer-container {
	display: flex;
	justify-content: center;
}